[Desktop Entry]
Name=Webcamoid
Comment=Webcam Capture Software
Comment[ca]=Programari de Captura de Càmera web
Comment[de]=Webcam-Capture-Software
Comment[el]=κάμερα συλλαμβάνει το λογισμικό
Comment[es]=Programa para Captura de la Webcam
Comment[fr]=Logiciel de Capture Webcam
Comment[gl]=Programa de Captura de Webcam
Comment[it]=Webcam Capture Software
Comment[ja]=ウェブカメラのキャプチャソフトウェア
Comment[ko]=웹캠 캡처 소프트웨어
Comment[pt]=Software de Captura de Webcam
Comment[ru]=Веб-камера захвата программного обеспечения
Comment[zh_CN]=摄像头捕捉软件
Comment[zh_TW]=攝像頭捕捉軟件
Icon=camera-web
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Encoding=UTF-8
X-KDE-Library=plasma_applet_webcamoid
X-KDE-PluginInfo-Name=webcamoid
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=Gonzalo Exequiel Pedone
X-KDE-PluginInfo-Email=hipersayan.x@gmail.com
X-KDE-PluginInfo-Version=5.0.0
X-KDE-PluginInfo-Website=https://github.com/hipersayanX/Webcamoid
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DefaultSize=320,240
X-Plasma-NotificationArea=true
