[Desktop Entry]
Encoding=UTF-8
Name=Webcamoid
GenericName=Webcam Capture Software
GenericName[ca]=Programari de Captura de Càmera web
GenericName[de]=Webcam-Capture-Software
GenericName[el]=κάμερα συλλαμβάνει το λογισμικό
GenericName[es]=Programa para Captura de la Webcam
GenericName[fr]=Logiciel de Capture Webcam
GenericName[gl]=Programa de Captura de Webcam
GenericName[it]=Webcam Capture Software
GenericName[ja]=ウェブカメラのキャプチャソフトウェア
GenericName[ko]=웹캠 캡처 소프트웨어
GenericName[pt]=Software de Captura de Webcam
GenericName[ru]=Веб-камера захвата программного обеспечения
GenericName[zh_CN]=摄像头捕捉软件
GenericName[zh_TW]=攝像頭捕捉軟件
Comment=Webcam Capture Software
Comment[ca]=Programari de Captura de Càmera web
Comment[de]=Webcam-Capture-Software
Comment[el]=κάμερα συλλαμβάνει το λογισμικό
Comment[es]=Programa para Captura de la Webcam
Comment[fr]=Logiciel de Capture Webcam
Comment[gl]=Programa de Captura de Webcam
Comment[it]=Webcam Capture Software
Comment[ja]=ウェブカメラのキャプチャソフトウェア
Comment[ko]=웹캠 캡처 소프트웨어
Comment[pt]=Software de Captura de Webcam
Comment[ru]=Веб-камера захвата программного обеспечения
Comment[zh_CN]=摄像头捕捉软件
Comment[zh_TW]=攝像頭捕捉軟件
Exec=webcamoid
Icon=camera-web
Terminal=false
Type=Application
Categories=AudioVideo;KDE;
StartupNotify=true
