Source: webcamoid
Section: video
Priority: extra
Maintainer: Gonzalo Pedone <hipersayan.x@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 pkg-config,
 qtdeclarative5-dev,
 libqt5opengl5-dev,
 qttools5-dev-tools,
 qtmultimedia5-dev,
 linux-libc-dev,
 libavcodec-dev,
 libavdevice-dev,
 libavfilter-dev,
 libavformat-dev,
 libavresample-dev,
 libavutil-dev,
 libv4l-dev,
 libpostproc-dev,
 libswresample-dev,
 libswscale-dev,
 libqt5svg5-dev
Standards-Version: 3.9.4
Homepage: https://github.com/hipersayanX/webcamoid
#Vcs-Git: git://github.com/hipersayanX/webcamoid.git
#Vcs-Browser: https://github.com/hipersayanX/webcamoid

Package: webcamoid
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libqt5widgets5,
 libavcodec56,
 libavdevice56,
 libavfilter5,
 libavformat56,
 libavresample2,
 libavutil54,
 libpostproc53,
 libswresample1,
 libswscale3
Description: Webcamoid is a full featured webcam capture application.
 Features:
 .
 * Take pictures and record videos with the webcam.
 * Manages multiple webcams.
 * Written in C++/Qt.
 * Custom controls for each webcam.
 * Add funny effects to the webcam.
 * +60 effects available.
 * Effects with live previews.
 * Translated to many languages.
 * Use custom network and local files as capture devices.
 * Capture from desktop.
 * Many recording formats.
 * Virtual webcam support for feeding other programs.
