<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>webcamoid</string>
        <key>CFBundleGetInfoString</key>
        <string>Webcamoid, The ultimate webcam suite!</string>
        <key>CFBundleIconFile</key>
        <string>webcamoid.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.webcamoidprj.webcamoid</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.11</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>NSCameraUsageDescription</key>
        <string>Webcamoid needs permissions for camera capture</string>
    </dict>
</plist>
