Source: webcamoid
Section: video
Priority: extra
Maintainer: Gonzalo Pedone <hipersayan.x@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 qt4-qmake,
 qt4-dev-tools,
 qtmobility-dev,
 kdelibs5-dev,
 frei0r-plugins-dev,
 linux-libc-dev,
 bison,
 flex,
 wget,
 pkg-config,
 yasm,
 libass-dev,
 libbluray-dev,
 libgsm1-dev,
 libmodplug-dev,
 libopenjpeg-dev,
 libopus-dev,
 libpulse-dev,
 libschroedinger-dev,
 libspeex-dev,
 libtheora-dev,
 libv4l-dev,
 libvorbis-dev,
 libvpx-dev,
 libx11-dev,
 libxext-dev,
 libxfixes-dev,
 libmp3lame-dev,
 libopencore-amrnb-dev,
 libopencore-amrwb-dev,
 librtmp-dev,
 libx264-dev,
 libxvidcore-dev
Standards-Version: 3.9.4
Homepage: https://github.com/hipersayanX/Webcamoid
#Vcs-Git: git://github.com/hipersayanX/Webcamoid.git
#Vcs-Browser: https://github.com/hipersayanX/Webcamoid

Package: webcamoid
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libqtmultimediakit1,
 libkdeui5,
 frei0r-plugins,
 libass4,
 libbluray1,
 libgsm1,
 libmodplug1,
 libopenjpeg2,
 libopus0,
 libpulse0,
 libschroedinger-1.0-0,
 libspeex1,
 libtheora0,
 libv4l-0,
 libvorbisenc2,
 libvorbisfile3,
 libvpx1,
 libx11-6,
 libxext6,
 libxfixes3,
 libmp3lame0,
 libopencore-amrnb0,
 libopencore-amrwb0,
 librtmp0,
 libx264-123,
 libxvidcore4
Description: Webcamoid is a full featured webcam capture application.
 Features:
 .
 * Take pictures with the webcam.
 * Record videos.
 * Manages multiple webcams.
 * Written in C++/Qt.
 * Custom controls for each webcam.
 * Add funny effects to the webcam (requires Frei0r plugins).
 * +60 effects available.
 * Effects with live previews.
 * Translated to many languages.
 * Provides a nice plasmoid for KDE desktop.
 * Use custom network and local files as capture devices.
 * Capture from desktop.
