Source: webcamoid
Section: video
Priority: extra
Maintainer: Gonzalo Pedone <hipersayan.x@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 qttools5-dev-tools,
 linux-libc-dev,
 libavcodec-ffmpeg-dev,
 libavdevice-ffmpeg-dev,
 libavfilter-ffmpeg-dev,
 libavformat-ffmpeg-dev,
 libavresample-ffmpeg-dev,
 libavutil-ffmpeg-dev,
 libpostproc-ffmpeg-dev,
 libswresample-ffmpeg-dev,
 libswscale-ffmpeg-dev
Standards-Version: 3.9.4
Homepage: https://github.com/hipersayanX/webcamoid
#Vcs-Git: git://github.com/hipersayanX/webcamoid.git
#Vcs-Browser: https://github.com/hipersayanX/webcamoid

Package: webcamoid
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libqt5widgets5,
 libavcodec-ffmpeg56,
 libavdevice-ffmpeg56,
 libavfilter-ffmpeg5,
 libavformat-ffmpeg56,
 libavresample-ffmpeg2,
 libavutil-ffmpeg54,
 libpostproc-ffmpeg53,
 libswresample-ffmpeg1,
 libswscale-ffmpeg3
Description: Webcamoid is a full featured webcam capture application.
 Features:
 .
 * Take pictures and record videos with the webcam.
 * Manages multiple webcams.
 * Written in C++/Qt.
 * Custom controls for each webcam.
 * Add funny effects to the webcam.
 * +60 effects available.
 * Effects with live previews.
 * Translated to many languages.
 * Use custom network and local files as capture devices.
 * Capture from desktop.
