name: Fedora

on: [push, pull_request]

env:
  QTIFWVER: 4.5.1
  APPIMAGEVER: 13
  DOCKERIMG: fedora:rawhide
  FEDORAVER: rawhide
#  DOCKERIMG: fedora:34
#  FEDORAVER: 34
  NJOBS: 4

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
       include:
         - compiler: gcc
         - compiler: clang
    steps:
    - uses: actions/checkout@v2
    - name: Release build
      uses: addnab/docker-run-action@v3
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: gcr.io
        image: ${{ env.DOCKERIMG }}
        options: >-
          -v ${{ github.workspace }}:/sources
          -e GITHUB_REF=${{ env.GITHUB_REF }}
          -e GITHUB_SERVER_URL=${{ env.GITHUB_SERVER_URL }}
          -e GITHUB_REPOSITORY=${{ env.GITHUB_REPOSITORY }}
          -e GITHUB_RUN_ID=${{ env.GITHUB_RUN_ID }}
          -e APPIMAGEVER=${{ env.APPIMAGEVER }}
          -e COMPILER=${{ matrix.compiler }}
          -e DOCKERIMG=${{ env.DOCKERIMG }}
          -e FEDORAVER=${{ env.FEDORAVER }}
          -e NJOBS=${{ env.NJOBS }}
          -e QTIFWVER=${{ env.QTIFWVER }}
        run: |
          cd /sources
          echo
          echo Install dependencies
          echo
          chmod +x ports/ci/linux-fedora/install_deps.sh
          ./ports/ci/linux-fedora/install_deps.sh
          echo
          echo Release Build
          echo
          chmod +x ports/ci/linux-fedora/build.sh
          ./ports/ci/linux-fedora/build.sh
          echo
          echo Release Deploy
          echo
          chmod +x ports/ci/linux-fedora/deploy.sh
          ./ports/ci/linux-fedora/deploy.sh
    - name: Daily build
      uses: addnab/docker-run-action@v3
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: gcr.io
        image: ${{ env.DOCKERIMG }}
        options: >-
          -v ${{ github.workspace }}:/sources
          -e GITHUB_REF=${{ env.GITHUB_REF }}
          -e GITHUB_SERVER_URL=${{ env.GITHUB_SERVER_URL }}
          -e GITHUB_REPOSITORY=${{ env.GITHUB_REPOSITORY }}
          -e GITHUB_RUN_ID=${{ env.GITHUB_RUN_ID }}
          -e APPIMAGEVER=${{ env.APPIMAGEVER }}
          -e COMPILER=${{ matrix.compiler }}
          -e DOCKERIMG=${{ env.DOCKERIMG }}
          -e FEDORAVER=${{ env.FEDORAVER }}
          -e NJOBS=${{ env.NJOBS }}
          -e QTIFWVER=${{ env.QTIFWVER }}
          -e DAILY_BUILD=1
        run: |
          cd /sources
          echo
          echo Install dependencies
          echo
          chmod +x ports/ci/linux-fedora/install_deps.sh
          ./ports/ci/linux-fedora/install_deps.sh
          echo
          echo Daily Build
          echo
          chmod +x ports/ci/linux-fedora/build.sh
          ./ports/ci/linux-fedora/build.sh
          echo
          echo Daily Deploy
          echo
          chmod +x ports/ci/linux-fedora/deploy.sh
          ./ports/ci/linux-fedora/deploy.sh
